*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main-container{
    width: 500px;
    height: 500px;
    background-color: #3c3c3c;
    
}
.top{
    width: 100%;
    height: 40%;
    background-color: #a72a92;
    display: flex;
    justify-content: space-evenly;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    width: 150px;
    height: 150px;
    background-color: #fff;
}
.tp{
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.radius1{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid gray;
}
.radius2{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid gray;
}
.bt{
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.radius1{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid gray;
}
.radius2{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid gray;
}
.boxes{
    width: 100px;
    height: 200px;
    background-color: #fff;
    display: flex;
}
.box1{
    width: 33%;
    height: 100%;
    
}
.b1{
    width: 100%;
    height: 17%;
    border: 1px solid gray;

}
.box2{
    width: 33%;
    height: 100%;
    
}
.b2{
    width: 100%;
    height: 17%;
    border: 1px solid gray;
    background-color:  #0D9C53;

}
.box3{
    width: 33%;
    height: 100%;

}
.green{
    width: 200px;
    height: 200px;
    background-color: #0D9C53;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-p{
     width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btm{
     width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.green-radius{
    width: 40px;
    height: 40px;
    background-color:  #0D9C53;
    border-radius: 50%;
    border: 2px solid gray;
}
.middle{
    width: 100%;
    height: 20%;
    background-color: #fff;
    display: flex;
}
.leftside-box{
    width: 200px;
    height: 100%;
    
}
.mid-box{
    width: 100px;
    height: 100%;
    background-color: #c96a6a;
}
.rightside-box{
    width: 200px;
    height: 100%;
    
}
.box-1{
    width: 100%;
    height: 33%;
    
    display: flex;
}
.box-2{
    width: 100%;
    height: 33%;

    display: flex;
}
.box-3{
    width: 100%;
    height: 33%;
    
    display: flex;
}
.r1{
    width: 17%;
    height: 100%;
    border: 1px solid gray;
}
.r2{
    width: 17%;
    height: 100%;
    border: 1px solid gray;
    background-color: red;
}
.box--1{
    width: 100%;
    height: 33%;
    
    display: flex;
}
.box--2{
    width: 100%;
    height: 33%;

    display: flex;
}
.box--3{
    width: 100%;
    height: 33%;
    
    display: flex;
}
.y1{
    width: 17%;
    height: 100%;
    border: 1px solid gray;
}
.y2{
    width: 17%;
    height: 100%;
    border: 1px solid gray;
    background-color: #FBBB1A;
}



.bottom{
    width: 100%;
    height: 40%;
    background-color: #44adbd;
    display: flex;
}
.blue{
    width: 200px;
    height: 200px;
    background-color: #00A6E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radius-1{
    width: 40px;
    height: 40px;
    background-color: #00A6E8;
    border-radius: 50%;
    border: 2px solid gray;
}
.radius-2{
    width: 40px;
    height: 40px;
    background-color: #00A6E8;
    border-radius: 50%;
    border: 2px solid gray;
}
.blue-box{
    width: 100px;
    height: 200px;
    background-color: #fff;
    display: flex;
}
.box---1{
    width: 33%;
    height: 100%;

}
.box---2{
    width: 33%;
    height: 100%;
    
}
.box---3{
    width: 33%;
    height: 100%;
    
}
.b-1{
    width: 100%;
    height: 16.7%;
    border: 1px solid gray;
}
.b-2{
    width: 100%;
    height: 16.7%;
    border: 1px solid gray;
    background-color: #00A6E8 ;

}



    


.yellow{
    width: 200px;
    height: 200px;
    background-color: #FBBB1A ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radius--1{
    width: 40px;
    height: 40px;
    background-color:   #FBBB1A;
    border-radius: 50%;
    border: 2px solid gray;

}
.radius--2{
     width: 40px;
    height: 40px;
    background-color:   #FBBB1A;
    border-radius: 50%;
    border: 2px solid gray;

}
.triangle {
  width: 100px;
  height: 100px;
  background-color: red;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
