*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 600px;
    background-color: bisque;
    display: flex;
    border: 2px solid black;
}
.parent1{
    width: 400px;
    height: 100%;
    background-color: red;
}
.parent2{
    width: 400px;
    height: 100%;
    background-color: aqua;
    
}
.box1{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    display: flex;
    
    
    
    
}
.box2{
    width: 100%;
    height: 100px;
    background-color: darkgray;
}
.child1{
    width: 200px;
    height: 100%;
    background-color: green;
    
}
.child2{
    width: 200px;
    height: 250px;
    background-color: aqua;
}
.child3{
   width: 200px;
   height: 250px;
   background-color: white;
}
.parent3{
    width: 200px;
    height: 500px;
    background-color: chocolate;
}