*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(63, 55, 55);
    
    
    
}
.nav{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    color: #E9ECED;
    
}


.nav .child1 h1 a{
    text-decoration: none;
    color: #E9ECED;
    font-size: 30px;
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.main{
    width: 100%;
    height: 90vh;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.content{
 width: 40%;
 height: 400px;
 /* background-color: blueviolet; */
 padding: 40px 50px;
 color: white;
 button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    

 }
 line-height: 50px;
 h1{
    font-size: 60px;
    span{
        color: green;
    }
 }
 h2{
    font-size: 30px;
 }
 p{
    font-size: 30px;
 }
}
.image{
    width: 40%;
    height: 400px;
    /* background-color: aqua; */
}

.container2{
    width: 100%;
    height: 90vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #E9ECED;
}


.child3{
    width: 40%;
    height: 400px;
    /* background-color: pink; */
}
.intro{
    width: 100%;
    height: 200px;
    /* background-color: blueviolet; */
    h3{
        color: green;
    }
}
.bio{
    width: 100%;
    height: 200px;
    /* background-color: brown; */
    display: flex;
   }
.left{
    width: 50%;
    height: 100%;
    /* background-color: chocolate; */
     padding: 50px 0px;

}
.right{
    width: 50%;
    height: 100%;
    /* background-color: cornflowerblue; */
     padding: 50px 0px;

}


.child4{
    width: 40%;
    height: 400px;
    /* background-color: blue; */
}
.container3{
    width: 100%;
    height: 90vh;
    background-color: gray;
}
.service{
    width: 100%;
    height: 50px;
    /* background-color: brown; */
    h1{
        padding-left: 90px;
        font-size: 45px;
        color: #E9ECED;
    }
}
.parent1{
    width: 100%;
    height: 250px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(123, 155, 165);
    padding: 50px 0px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 50px 0px;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 50px 0px;
}
.parent2{
    width: 100%;
    height: 250px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap: 10px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 10px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 10px;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 10px;
}