*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainparent{
  width: 800px;
  height: 600px;
  background-color: blueviolet;
  display: flex;
  color: darkgreen;
  text-align: center;
  flex-direction: column;
  
}
#profile{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    justify-content: baseline;
}
#name{
    width: 300px;
    height: 100%;
    background-color: white; 
     justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  
}
#photo{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
           
}
#photo img{
    border-radius: 50%;
    align-items: center;
    justify-content: center;


    
    
}