*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    width: 1000px;
    height: 400px;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
  
}
#child1 input{
    width:600px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 20px;

}
#child1 input::placeholder{
    color: black;
    font-size: 18px;
}
