*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 207, 207);
}
.header{
    width: 100%;
    height: 80px;
    background-color: #4d4b49;
    border-radius: 20px;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    text-decoration: none;
    
    
} 
.logo{
    width: 150px;
    height: 100px;
    
}
.nav{
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 50px; */
    text-decoration: none;   
}
.nav ul{
    display: flex;
    gap: 25px;
    text-decoration: none;    
}
.nav li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
}
.nav ul li{
    list-style: none;
}
.right{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    
}
.searchbox{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.serachbox input[type="text"]
{
     padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #444;
    color: white;
    font-size: 16px;
}

.profile{
    width: 50%;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.main{
    width: 100%;
    height: 350px;
    background-color: black;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
}
.image{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 30px;
}
.content{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
}
.top{
    width: 100%;
    height: 50%;
    /* background-color: rgb(141, 181, 183); */
    padding: 50px;
    h2{
        color: #A87526;
    }
    h1{
        color: #A87526;
        
    }
    h3{
        color: #A87526;
        
    }
    
    
}
.bottom{
    width: 100%;
    height: 50%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    width: 150px;
    height: 100px;
    background-color: black;
}
.flat{
    width: 1360px;
    height: 150px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;
    padding-right: 20px;
    color: #A87526;
    display: flex;
}
.child1{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.child2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(221, 27, 92); */
    display: flex;
    justify-content: center;
    align-items: center;
}
