*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:  #E9ECED;
}
.header{
    width: 100%;
    height: 100px;
   
    text-align: center;
    h1{
         padding: 15px;
    }
}
.main{
    width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: space-evenly;
    
}
.box1{
    width: 300px;
    height: 100%;
    
    
}
.box2{
    width: 300px;
    height: 100%;
    
    
}
.box3{
    width: 300px;
    height: 100%;
    

}
.footer{
    width: 100%;
    height: 250px;
    
    display: flex;
    justify-content: space-evenly;
}
.box4{
    width: 300px;
    height: 100%;
    background-color: #E9ECED;
    text-align: center;
    p{
        margin-top: 20px;
    }
    
}
.box5{
    width: 300px;
    height: 100%;
    background-color: #E9ECED;
    text-align: center;
    p{
         margin-top: 20px;
    }
   
    
}
.box6{
    width: 300px;
    height: 100%;
    background-color: #E9ECED;
    text-align: center;
    p{
      margin-top: 20px;
    }
   
    
}
footer{
    width: 100%;
    height: 500px;
    background-color: #B3C1DC;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer-box{
    width: 250px;
    height: 450px;
    /* background-color: #51ade7; */
    /* display: flex; */
    text-align: left;
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}