*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{

    width: 1000px;
    height: 440px;
    
}
.box1{
    width: 100%;
    height: 70px;
    background-color: aqua;
}
.box2{
    width: 100%;
    height: 300px;
    background-color: green;
    display: flex;
}
.blue{
    width: 400px;
    height: 300px;
    background-color: blue;
    
}
.white{
     width: 600px;
    height: 300px;
    background-color: wheat;

}
.orange{
  width: 1000px;
    height: 50px;
    background-color: brown;
    text-align: center;
}
.blue a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    
}
.white h1{
    color: white;
}

