*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    border: 1ps solid black;
    background-color: whitesmoke;
    ;
       
}
.box1{
    width: 300px;
    height: 50px;
    border: 2px solid black;
}
.box2{
    width: 300px;
    height: 50px;
    background-color: aqua;
}
