*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: #ad8888; */
}
nav{
    width: 100%;
    height: 10vh;
    background-color: #f3f0f0;
    display: flex;
    justify-content: space-evenly;
    
    
    
    
}
.child1{
    width: 200px;
    height: 100%;
    /* background-color: #4fb8e9; */
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        margin: 15px;
        color: rgb(7, 7, 7);
    }
    
}
.child2{
    width: 800px;
    height: 100%;
    /* background-color: #662fb4; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    

}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;

}
.child2 li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.child3{
    width: 300px;
    height: 100%;
    /* background-color: cadetblue; */
}
button{
    margin-left: 20px;
    
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;

}
#reg{
    background-color: blue;
    color: #fff;
}
.header{
    width: 100%;
    height: 50px;
    background-color:#F5A623;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span{
        color: blue;
    }
}
.main{
    width: 100%;
    height: 400px;
    /* background-color: #5fa572; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box1{
    width: 500px;
    height: 350px;
    /* background-color: #c05b5b; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    p{
        margin: 20px;
    }

}
.box2{
    width: 500px;
    height: 350px;
    /* background-color: #c05b5b; */
}
#start{
    background-color: #F5A623;
}
.imgcontainer1{
    width: 100%;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.imgcontainer2{
    width: 100%;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.imgbox1{
    width: 150px;
    height: 150px;
    background-color: #7d69c4;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    
    
}
.imgbox1 img{
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    

    

}
.imgbox2{
    width: 150px;
    height: 150px;
    background-color: #7d69c4;
}
.imgbox3{
    width: 150px;
    height: 150px;
    background-color: #7d69c4;
}
.imgbox4{
    width: 150px;
    height: 150px;
    background-color: #7d69c4;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    
}
.imgbox4 img{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fbox1{
    width: 200px;
    height: 100px;
    color: #fff;
    /* border-left: 1px solid white; */
    text-align: center;
    /* background-color: #c21010; */
    
    h1{
        margin-top: 20px;
    }
}
.mid{
    width: 100%;
    height: 100vh;
    background-color: #F3F0F0;
}
.midbox{
    width: 100%;
    height: 50%;
    background-color: #f3f0f0;
}
.top{
    width: 100%;
    height: 50%;
    /* background-color: #8e5555; */
    text-align: center;
    p{
        color: #a85d3f;
        padding: 20px;
    
    }
}
.bottom{
    width: 100%;
    height: 50%;
    /* background-color: #78c2de; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Bbox1{
    width: 200px;
    height: 150px;
    background-color: #ece9e9ae;
    text-align: center;
    h3{
        margin: 10px;
    }
    
}
.fbox{
    width: 100%;
    height: 100%;
    /* background-color: #614ab4; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width: 400px;
    height: 300px;
    /* background-color: #d67171; */
}
.content{
    width: 550px;
    height: 300px;
    /* background-color: #d67171; */
    padding: 30px;
    h4{
        color: #a85d3f;
        
    }
    h1{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* margin: 100px; */
}
#button{
    background-color:#F5A623;
    

}
.ftcontainer{
    width: 100%;
    height: 100vh;
    background-color: #f3f0f0;

}
.ft-top{
    width: 100%;
    height: 50%;
    /* background-color: #4da183; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-box{
    width: 500px;
    height: 300px;
    
    h4{
        color: #a85d3f;
        padding-top: 20px;
        
    }
    h1{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}
.image-box{
    width: 300px;
    height: 300px;
    


}
.btn-container{
    
    display: flex;
    justify-content: center;align-items: center;
    gap: 8px;
    span{
        margin-top: 20px;
    }
    margin-right: 100px;
}
.ft-bottom{
    width: 100%;
    height: 50%;
    /* background-color: #3eb086; */
}
.subject{
    width: 100%;
    height: 100px;
    /* background-color: #add73a; */
    
    text-align: center;
    padding: 20px;
    h4{
        color: #A85D3F;
    }
    h1{
        padding: 5px;
    }
}
.course{
    width: 100%;
    height: 100px;
    /* background-color: #841a66; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.eng{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
}
.pro{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
}
.lang{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
}
.sci{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
}
.course2{
    width: 100%;
    height: 100px;
    /* background-color: #986e8c; */
     display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.hist{
    width: 200px;
    height: 50px;
    background-color: rgb(228, 220, 220);
    border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.psy{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.web{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.all{
    width: 200px;
    height: 50px;
    background-color:rgb(228, 220, 220);
     border: 0.5px solid rgb(131, 124, 124);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.about-us{
    width: 100%;
    height: 50vh;
    background-color: #F3F0F0;
    text-align: center;
    padding: 20px;
    
}
.test{
    width: 100%;
    height: 100px;
    /* background-color: #286278; */
}
.img-cont{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* background-color: #9fa749; */

}
.img-cont img{
    border-radius: 50%;
}
.img1{
    width: 100px;
    height: 100px;
    
    border-radius: 50px;
}
.review{
    width: 100%;
    height: 100px;
    /* background-color: #5ddfdf; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    

}
.rev{
    width: 500px;
    height: 100%;
    /* background-color: #a3b831; */
    padding: 20px;
}



