*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.container{
    width: 100%;
    height: 90vh;
    /* background-color: aqua; */
}
.top{
    width: 100%;
    height: 250px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.specialities{
    width: 100%;
    height: 50px;
    /* background-color: gray; */
    text-align: center;
    color: #191933;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: #191933;
    border-radius: 15%;
    text-align: center;
    color: #E9ECED;

}
.box2{
    width: 200px;
    height: 200px;
    background-color: #191933;
    border-radius: 15%;
    text-align: center;
    color: #E9ECED;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: #191933;
    border-radius: 15%;
     text-align: center;
    color: #E9ECED;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: #191933;
    border-radius: 15%;
    text-align: center;
    color: #E9ECED;
    
}
.bottom{
    width: 100%;
    height: 250px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-evenly;
}
.footer{
    text-align: center;
    color: #28A9DA;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #B3C1DC;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer-box{
    width: 250px;
    height: 450px;
    /* background-color: #51ade7; */
    /* display: flex; */
    text-align: left;
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}
