*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    
}
.box1{
    width: 350px;
    height: 60px;
    background-color: cadetblue;
    border: 2px solid black;
    
}
.box2{
    width: 350px;
    height: 60px;
    background-color: cadetblue;
    border: 2px solid black;
}
.box3{
    width: 350px;
    height: 60px;
    background-color: cadetblue;
    border: 2px solid black;
}
.box4{
    width: 350px;
    height: 60px;
    background-color: cadetblue;
    border: 2px solid black;
}