*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 700px;
    background-color: green;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box1{
    width: 350px;
    height: 300px;
    background-color: bisque;
}
.box2{
    width: 350px;
    height: 300px;
    background-color: white;
}
#button{
    background-color: blue;
    font-size: 20px;
    color: white;
}