*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: #1a1a41;
}
.nav{
    width: 100%;
    height: 10vh;
    background-color: #220668;
}