*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 600px;
    background-color: bisque;
    text-align: center;
    
}
#table{
    background-color: white;
    
}
.parent{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.box1{
    width: 300px;
    height: 50px;
    background-color: purple;
    color: white;

}
.box2{
    width: 300px;
    height: 50px;
    background-color: blue;
    color: white;
}
.box3{
    width: 300px;
    height: 50px;
    background-color: gray;
    color: white;
}