#circle1{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid  black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
     
    
    
}
#circle2{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
     
     
}
#circle3{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle4{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle5{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
#circle6{
     width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}
#circle7{
   width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;


 
}
#circle8{
     width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;

 
}
#circle9{
   width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;

   
}
#circle10{
   width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black; 
     display: flex;
    align-items: center;
    justify-content: center;

   
}
#circle11{
   width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;   
  
}

    
    