*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    
    
    
}
.nav{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: #E9ECED;
    font-size: 30px;
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.container2{
    width: 100%;
    height: 200px;
    
    text-align: center;
    color: #E9ECED;
}
.container3{
    width: 100%;
    height: 400px;
    /* background-color: chocolate; */
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.parent1{
    width: 40%;
    height: 80%;
    /* background-color: blueviolet; */
}
.parent2{
    width: 40%;
    height: 80%;
    /* background-color: purple; */
}
.parent1 h3{
    color: #E9ECED;
}
.parent1 input{
    color: #bde700;
}
.parent2 h3{
    color: #E9ECED;
}
.skill{
    width: 100%;
    height: 10px;
    background-color: #3C4043;
    border-radius: 20px;
    margin-top: 10px;
}
.bar{
    width: 75%;
    height: 100%;
    background-color: #bde700;
    border-radius: 20px;
}
