*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    width: 1000px;
    height: 600px;
    background-color: bisque;
    display: flex;
}
.child1{
    width: 500px;
    height: 100%;
    background-color: aqua;
}
.child2{
    width: 500px;
    height: 100%;
    background-color: lightpink;
}
.box1{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box2{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}
.box1 span{
     color: red;
}
#mor{
    display: flex;
    color: cadetblue;
    margin-top: 50px;

}
.box2 h1{
    color: red;
   
}
.fa-solid{
    color: red;
    font-size: 25px;
}
.child2{
    
    text-align: right ;

}
.box3{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}
.box4{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    align-items: last baseline;
    text-align: end;
}

    