*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #E9ECED;
}
.header{
       width: 100%;
    height: 100px;
    /* background-color: brown; */
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
}
.right{
    width: 50%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo{
    width: 8%;
    height: 100%;
    /* background-color: bisque; */
    
}
.name{
    width: 50%;
    height: 100%;
    /* background-color: darkgreen; */
    justify-content: center;
    padding: 10px;
}
.num{
    width: 250px;
    height: 60px;
    background-color: #4CB9E0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    font-size: 20px;
   
}
.main{
    width: 100%;
    height: 90vh;
    /* background-color: cadetblue; */
    text-align: center;
    padding: 25px;
}
.content{
    width: 100%;
    height: 40%;
    /* background-color: brown; */
    h1{
        padding: 10px;
    }
    h2{
        padding: 10px;
    }
}
.login{
    width: 100%;
    height: 300px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.loginbox{
    width: 500px;
    height: 250px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.loginbox input{
    padding: 8px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #DBE7E7;
    border: 1px solid #4BE19A;
    /* width: 60%; */
}
.loginbox button{
    padding: 10px 18px;
    border-radius: 10px;
    background-color: #4BE19A;
    border: none;
    outline: none;
    font-weight: 700;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #B3C1DC;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer-box{
    width: 250px;
    height: 450px;
    /* background-color: #51ade7; */
    /* display: flex; */
    text-align: left;
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}
