*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    
    
    
}
.nav{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: #E9ECED;
    font-size: 30px;
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.container2{
    width: 100%;
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.parent1{
    width: 40%;
    height: 400px;
    /* background-color: rgba(168, 174, 169, 0.733); */
    margin-top: 10px;
}

.parent2{
     width: 40%;
    height: 400px;
    /* background-color: rgba(168, 174, 169, 0.733); */
    color: #E9ECED;
    h1{
        text-align: start;
        margin-bottom: 25px;
        font-size: 40px;
    }
    h2 span{
        color: yellow;
        margin-right: 5px;
        font-size: 30px;

    }
    h2{
    color: #E9ECED;
        font-size: 30px;
        padding-top: 10px;

    }
}
.details-row{
    /* width: 100%; */
    height: 40px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    border-bottom: 1px solid gray;
    
}
.details-row span{
    font-size: 25px;
    text-align: start;
    padding-top: 10px;

}

.details-row #data{
    font-size: 20px;
    
}
button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: yellow;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}


