h1{
    color: brown;
    background-color: aqua;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
img{
    width: 400px;
    height:400px;
    background-size: cover;
    background-position: center;
}
button{
    /* width: 30px;
    height: 15px; */
    color: #fff;
    background-color: red;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
}
div{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 2px solid black;
    display: inline-block;
}