*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 500px;
    height: 250px;
    background-color: #dfc7c7;
    background-image: url("https://media.istockphoto.com/id/1288048085/photo/black-credit-card-on-a-white-background.jpg?s=612x612&w=0&k=20&c=5LMO7gZcyJSfWw4wDxEcj8G4SUHKpPEbIAa7K82OE-U=" );
    
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
    
    
}
.box-cont{
    
    justify-content: center;
}
.box1{
    width: 500px;
    height: 50px;
    /* background-color: #55cd9f; */
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: aliceblue;
    padding-top: 10px;
    h3  {
        padding-left: 170px;
    }

    
    
    margin: 40px;
}

.box2{
    width: 500px;
    height: 80px;
    /* background-color: #55cd9f; */
    /* text-align: center; */
    /* margin: 40px; */
    h4{
         padding-left: 250px;
        
    }
    h5{
        padding-left: 90px;
        padding-top: 20px;
    }
    span{
        padding-left: 50px;
        font-weight: 200;
    }
   
    color: aliceblue;
    

}
.box3{
    width: 500px;
    height: 100px;
    /* background-color: #55cd9f; */
    h5{
        padding-left: 90px;
        padding-top: 10px;
        font-weight: 100;
        color: aliceblue;
        

    }
     span{
            padding-left: 70px;
            font-weight: 900;
            font-size: 30px;
            color: aliceblue;
        }
        p{
            color: aliceblue;
            padding-left: 90px;
            font-size: 10px;
        }

    
    
}