*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: black;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}
nav ul li a {
    display: inline;
    color: white;
    text-decoration: none;
    display: block;
    background-color: black;
    

}

