*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.square{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    /* background-color: aqua; */
    margin: 0 auto;
     display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 250px;
    height: 250px;
    background-color: #EDCA00;
   
    border-radius: 50%;
}
.eye{
    width: 100%;
    height: 50%;
    /* background-color: cadetblue; */
    display: flex;
   
}
.box1{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin: 50px;
}
.mouth{
    width: 100%;
    height: 50%;
    /* background-color: rgb(240, 109, 186); */
      display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    width: 150px;
    height: 50px;
    background-color: brown;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    
}
.teeth{
    width: 5px;
    height: 100%;
    /* background-color: aliceblue; */
    /* border-radius: 10%; */
    
}