*{
    margin: 0;
    padding: 0;
}
#parent1{
    width: 900px;
    height: 600px;
    border: 2px solid yellowgreen;
    background-color: moccasin;
    
}
#child1{
    width: 100%;
    height: 150px;
    background-color: darkslategrey;
    
}
#child2{
    width: 50px;
    height: 20px;
    background-color: darkgreen;
    
    display: flex;
    justify-content: center;
    color: white;
    
}
.class1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkslategrey;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.class2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkslategrey;
    color: white;
    align-items: center;
    display: flex;
    
    justify-content: center;
    
}
.class3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkslategrey;
    color: white;
    align-items: center;
    display: flex;
    
    justify-content: center;
    
}
#parentcircle{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#parentcircle2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

