*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.mainparent{
    width: 1000px;
    height: 500px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
.parent1{
    width: 100%;
    height: 130px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    width: 300px;
    height: 100px;
    background-color: lightcoral;
   
}
.nav{
    width: 450px;
    height: 100px;
    background-color: coral;
    

}
.maindiv{
    width: 870px;
    height: 290px;
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.child1{
    width: 500px;
    height: 250px;
    background-color: lightpink;
    
    
}
.child2{
    width: 250px;
    height: 180px;
    background-color: purple;
    
    
    
}
.footer{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer1{
    width: 200px;
    height: 50px;
    background-color: yellow;
     
}
.footer2{
    width: 200px;
    height: 50px;
    background-color: yellow;
     
}
.footer3{
    width: 200px;
    height: 50px;
    background-color: yellow;
     
}

