h1{
    color: green;
    text-align: center;
}
#parentbox{
    width: 900px;
    height: 500px;
    
    border: 2px solid black;
    display: flex;
}
#box1{
    width: 200px;
    height: 500px;
    background-color: red;
    border: 1px solid black;
    h1{
        color: black;
    }
}
#box2{
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
    h1{
        color: black;
    } 
}
#box3{
     width: 200px;
    height: 500px;
    background-color: blue;
    border: 1px solid black;
    h1{
        color: black;
    }
}
