*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainparent{
    width: 800px;
    height: 600px;
    background-color: bisque;
}
#mainmenu{
    width: 100%;
    height: 50px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#header{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#parent1{
    width: 100%;
    height: 400px;
    background-color: azure;
    display: flex;
}
#content{
    width: 600px;
    height: 100%;
    background-color: greenyellow;
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#sidebar{
    width: 200px;
    height: 100%;
    background-color: aquamarine;
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#footer{
    width: 100%;
    height: 50px;
    background-color: chocolate;
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}