*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    
    
    
}
.nav{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: #E9ECED;
    font-size: 30px;
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.container2{
    width: 100%;
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.parent1{
    width: 40%;
    height: 400px;
    /* background-color: rgba(168, 174, 169, 0.733); */
    margin-top: 10px;
    h1{
        color: #E9ECED;
        font-size: 60px;

    }
    h3{
        color: #00A4E7;
        font-size: 40px;
    }
    p{
        /* color: #E9ECED; */
        font-size: 20px;
        margin-top: 40px;
        
    }
    button{
        background-color: #bde700;
        margin-top: 20px;
        padding: 10px 20px;
         border-radius: 20px;
         border: 2px solid black;
         font-size: 18px;
         font-weight: 600;
         margin-right: 16px;
    }

    
    

}
.parent2{
    width: 40%;
    height: 400px;
    background-color: rgba(31, 74, 38, 0.733);
    img{
        width: 100%;
        height: 100%;
    }

}
.parent1 span{
    color:#bde700;
}
.parent1 h2 {
   color: #bde700; 
}
.parent1 h3{
  color:#E9ECED ;
}

