*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent1{
    width: 800px;
    height: 500px;
    border: 10px solid black;
    display: flex;
}

    

#child1{
    width: 200px;
    height: 100%;
    background-color: blue;
}
#parent2{
    width: 600px;
    height: 250px;
    border: 2px solid black;
    
     
    
}
#child2{
    width: 600px;
    height: 200px;
    background-color: green;
    display: flex;
}
#child3{
    width: 600px;
    height: 50px;
    background-color: hotpink;
    display: flex;
}
