*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainparent{
    width: 1000px;
    height: 500px;
    background-color: bisque;
    
}
#header{
    width: 100%;
    height: 50px;
    background-color: lightseagreen;
    text-align: center;
    justify-content: end;
    align-items: center;
    display: flex;
     color: white;

}
/* #rightbox{
    width: 700px;
    height: 100%;
    background-color: brown;
} */
#container{
    width: 100%;
    height:  100%;
    background-color: skyblue;
    display: flex;

}
#leftbox{
    width: 300px;
    height: 100%;
    background-color: cadetblue;
}
#rightbox{
    width: 700px;
    height: 100%;
    background-color: hotpink;
}
