*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #CECCDA;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.main{
    width: 100%;
    height: 400px;
    /* background-color: brown; */
}
.footer{
    width: 100%;
    height: 200px;
    /* background-color: brown; */
}
.box1{
    width: 100%;
    height: 100px;
    
    text-align: center;
    
}
h1 span{
        color: rgb(34, 34, 84);
    }
.box2{
    width: 100%;
    height: 100px;
    /* background-color: lightcoral; */
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: rgb(77, 77, 164);  */
    text-align: center;
    i{
        font-size: 40px;
    }
}
.right{
   width: 50%;
    height: 100%;
    text-align: center;
     i{
        font-size: 40px;
    }  
}
footer{
    width: 100%;
    height: 500px;
    background-color: #B3C1DC;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.footer-box{
    width: 250px;
    height: 450px;
    /* background-color: #51ade7; */
    /* display: flex; */
    text-align: left;
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}




