*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.container{
    width: 100%;
    height: 90vh;
    background-color: #E9ECED;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #E9ECED;
    color: rgb(25, 25, 51);
    
    display: flex;
}
.header1{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    /* justify-content: flex-end; */
    text-align: end;
}
.header2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(110, 130, 130); */
    padding: 20px 0px;
    h1{
        font-size: 40px;
    }   
}
.main{
    width: 100%;
    height: 500px;
    /* background-color: blueviolet; */
    text-align: center;
    padding: 40px;
    /* display: flex; */
    flex-direction: column;
    
    h3{
        padding: 20px;
    }
    span{
        color: rgb(103, 103, 223);
    }
    input{
        margin: 15px;
        
    }
    p{
        padding: 15px;
    }
}
.content{
    width: 500px;
    height: 100px;
    /* background-color: blueviolet; */
    margin: 0 auto;
   
    
}
.login input{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #DBE7E7;
    border: 2px solid #4ABADF;
    outline: none;
    
    
    
}
.login input::placeholder{
    font-size: 1rem;
    font-weight: 700px;
    color: black;
}
.login button{
    padding: 12px 50px;
    font-size: 18px;
    border-radius: 15px;
    font-weight: 600;
    background-color: #77c9a2;
    color: #191933;
    border: none;
    outline: none;
    cursor: pointer;
    
   
    
}
#or{
    font-size: 1.5rem;
    color: black;
    text-transform: lowercase;
}
 button:hover{
        background-color: #4BE19A;
        border: 2px solid rgb(40, 36, 36);
    }
#check{
    margin-left: 10px;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #B3C1DC;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer-box{
    width: 250px;
    height: 450px;
    /* background-color: #51ade7; */
    /* display: flex; */
    text-align: left;
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}