*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #97AFDA;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(219, 231, 231);
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
    
}
.child1 h1 a{
    text-decoration: none;
    color: rgb(25, 25, 51);
    font-size: 30px;
}
.child1{
    display: flex;
    /* flex-direction: column; */
    /* gap: 5px; */
    align-items: center;
    
}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;
    
}
.child2 li a {
    text-decoration: none;
    color: #E9ECED;
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 25, 51);

   

}
.child2 ul li{
    list-style: none;
}
.header{
    width: 100%;
    height: 50px;
    /* background-color: pink; */
}
.about{
    width: 100%;
    height: 300px;

}
.main{
    width: 100%;
    height: 200px;
    /* background-color: blueviolet; */
    padding: 50px;
}
.container2{
    width: 100%;
    height: 90vh;
    background-color: #97AFDA;
}
.parent1{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
}
.beds{
    width: 50%;
    height: 100%;
    /* background-color: #E9ECED; */
    text-align: center;
    padding: 70px;
    font-size: 40px;
    color: rgb(25, 25, 51);
    border-right: 2px solid white;
}
.doctors{
    width: 50%;
    height: 100%;
    /* background-color: #2e6b7f; */
     text-align: center;
    padding: 70px;
    font-size: 40px;
    color: rgb(25, 25, 51);
}
.parent2{
    width: 100%;
    height: 50%;
    /* background-color: purple; */
    display: flex;
}
.staff{
    width: 50%;
    height: 100%;
    /* background-color: #E9ECED; */
     text-align: center;
    padding: 70px;
    font-size: 40px;
    color: rgb(25, 25, 51);
    border-right: 2px solid white;
    border-top: 2px solid white;


}
.specialities{
    width: 50%;
    height: 100%;
    /* background-color: #2e6b7f; */
     text-align: center;
    padding: 50px;
    font-size: 40px;
    color: rgb(25, 25, 51);
    border-top: 2px solid white;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #414141;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: #ffffffd2;
}
.footer-box{
    width: 250px;
    height: 450px;
    
    text-align: left;
    li{
        list-style: none;
        line-height: 25px;
    }
   
}
button{
    padding: 10px;
    
    border-radius: 5px;
    
}



