*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.main-container{
    width: 100%;
    height: 100vh;
    
    
    text-align: center;
    h1{
         padding-top: 10px;
         color: #D0419B;

    }
   
    
    
}
.landing-page{
    width: 100%;
    height: 10vh;
    
}
.Etech-page{
    display: flex;
}
.Etech{
    width: 1000px;
    height: 90vh;
    background-color: #FFFFFF;
    border: 2px solid rgb(201, 110, 201);
}
.Etech2{
    width: 350px;
    height: 90vh;
    background-color: #FFFFFF;
    margin-left: 40px;
    border: 2px solid rgb(201, 110, 201);
}
nav{
    width: 100%;
    height: 10vh;
    background-color: #f3f0f0;
    display: flex;
    justify-content: space-evenly;
    
    
    
    
}
.child1{
    width: 200px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        margin: 15px;
        color: rgb(7, 7, 7);
    }
    
}
.child2{
    width: 800px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    

}
.child2 ul{
    display: flex;
    gap: 25px;
    text-decoration: none;

}
.child2 li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: 600;
   

}
.child2 ul li{
    list-style: none;
}
.child3{
    width: 300px;
    height: 100%;
    
}
button{
    margin-left: 20px;
    
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;

}
#reg{
    background-color: #D0419B;
    color: #fff;
}
.main{
    width: 1000px;
    height: 65vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    width: 400px;
    height: 50vh;
    
    h1{
        color: black;
    }
}
.image{
    width: 400px;
    height: 50vh;
    
}
.footer{
    width: 100%;
    height: 15vh;
    background-color: #D0419B;
}
.container2{
     width: 100%;
    height: 100vh;
    /* background-color: #ee7a7a; */

}
.page-1{
    width: 100%;
    height: 10vh;
    display: flex;
    
}
.course{
     width: 1000px;
    height: 90vh;
    background-color: #FFFFFF;
    border: 2px solid rgb(201, 110, 201);

}
.speech{
     width: 350px;
    height: 90vh;
    background-color: #FFFFFF;
    margin-left: 40px;
    border: 2px solid rgb(201, 110, 201);

}
.search-course{
    width: 100%;
    height: 20vh;
    background-color: #9cba54;
    text-align: center;
}
button {
padding-left: 75px;
padding-right: 75px;
}
#search-box{
    padding-left: 20px;
    padding-right: 20px;
}
.image-content{
    width: 100%;
    height: 75vh;
    background-color: #a04141;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image-1{
    width: 400px;
    height: 50vh;
    background-color: #93dd69;
}
.content-1{
    width: 400px;
    height: 50vh;
    background-color: #8168cb;
    
}
    