#parentsquare{
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
}
.square{
    width: 800px;
    height: 160px;
    background-color: darkslategray;
    justify-content: center;

}
.circle{
    width: 800px;
    height: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}
#circle1{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}