*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maindiv{
    width: 800px;
    height: 600px;
    background-color: hotpink;
}
#header{
    width: 800px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
   
}
#parent2{
    width: 800px;
    height: 400px;
    
    display: flex;
}
#Aside{
    width: 200px;
    height: 100%;
    background-color: aquamarine;
    margin-top: 15px;
    display: flex;
}
#Article{
    width: 550px;
    height: 100%px;
    background-color: coral;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    
}
#child1{
width: 180px;
height: 180px;
border: 2px solid black;
margin-left: 15px;
}
#child2{
width: 180px;
height: 180px;
border: 2px solid black;
}
#child3{
width: 180px;
height: 180px;
border: 2px solid black;
}
#parent3{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    margin-top: 30px;
}
