*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.parent2{
    width: 300px;
    height: 150px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.child1{
    width: 250px;
    height: 50px;
    background-color: red;
    
}
.parent{
    display: flex;
    gap: 20px;
}
.box1{
    width: 250px;
    height: 150px;
    background-color: red;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: red;
}
.parent3{
    width: 100%;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.box3{
    width: 450px;
    height: 100%;
    background-color: red;
}
.box4{
    width: 200px;
    height: 100%;
    background-color: red;
}



