*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent1{
    width: 900px;
    height: 600px;
    background-color: chocolate;
    color: darkgreen;
    display: flex;
    text-align: center;
    font-size: 18px;
    flex-direction: column;
    


    

}
#parent2{
       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
#child1{
     width: 100px;
    height: 100px;
}
#child2{
    width: 100px;
    height: 100px;
    
}
#child3{
     width: 100px;
    height: 100px;
         
}
#child4{
      width: 100px;
    height: 100px;  
     
}
#child5{
     width: 100px;
    height: 100px;
     
    
}
#child6{
     width: 100px;
    height: 100px;
    
}


.chhotaparent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#chhotaparent2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    
}
#parent3{
    color: green;
    font-size: 18px;
    margin-top: 50px;
    
}